body{
	background: rgb(212,122,1);
}
li{
	border: 2px solid rgb(233,1,122);
}

#special{
	border: 2px solid rgb(112,222,2);
	background-color: rgb(122,2,123);
}

.high{
	background-color: rgb(1,234,222);
	text-decoration: line-through;
}
